#finalBase {
	width: 100%;
	float: left;
	display: inline-block;
}

#imagePanel {
	width: 48%;
    margin: 1%;
	float: left;
	overflow: auto style;
	display: inline-block;
}

#text_editor {
	width: 50%;
	float: left;
	display: inline-block;
}

#langA {
	width: auto;
	float: left;
}

#rta_langA {
	width: auto;
	float: left;
}

#langB {
	width: auto;
	float: left;
}

#rta_langB {
	width: 100%;
	float: left;
}